<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase_Records</title>
    <link rel="stylesheet" href="/tableStyles.css">
</head>
<body>
<h2>Product List</h2>
<table border="1">
    <thead>
    <tr>
        <th>User Id</th>
        <th>Product Id</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Paid</th>
        <th>Purchase_Date</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase_record : ${purchase_records}">
        <td th:text="${purchase_record.userId}"></td>
        <td th:text="${purchase_record.productId}"></td>
        <td th:text="${purchase_record.price}"></td>
        <td th:text="${purchase_record.quantity}"></td>
        <td th:text="${purchase_record.paid}"></td>
        <td th:text="${#dates.format(purchase_record.purchaseTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${purchase_record.note}"></td>
    </tr>
    </tbody>
</table>
<a href="/repo">back to menu</a>
</body>
</html>

