<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repo</title>
    <link rel="stylesheet" href="/tableStyles.css">
</head>

<body>
<h2>Product List</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Version</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.version}"></td>
        <td th:text="${product.note}"></td>
    </tr>
    </tbody>
</table>
<a href="/repo">back to menu</a>
</body>
</html>
