<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Page</title>
    <link rel="stylesheet" href="/styles.css"> <!--means files in static directory-->
</head>
<body>
<h2>Purchase Product</h2>

<form id="purchaseForm">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId"><br><br>

    <label for="productId">Product ID:</label>
    <input type="text" id="productId" name="productId"><br><br>

    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" name="quantity"><br><br>

    <button type="submit">Purchase</button>
</form>

<a href="/repo">Back to Repo</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#purchaseForm').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            $.ajax({
                url: '/purchase',
                type: 'POST',
                data: {
                    userId: $('#userId').val(),
                    productId: $('#productId').val(),
                    quantity: $('#quantity').val()
                },
                success: function(result){
                    alert(result.message);
                },
                error: function(xhr, status, error){
                    console.error('Error:', error);
                }
            });
        });
    });
</script>
</body>
</html>
